{
    "openapi": "3.0.3",
    "info": {
        "title": "lobstr API v1",
        "version": "1.0.0",
        "description": "Lobstr API is an easy-to-implement API to launch already-made data crawlers, handle accounts and schedules, and collect results.\n\n## Authentication\n\nAll requests must include the `Authorization` headers. You can obtain these from the settings menu."
    },
    "servers": [
        {
            "url": "https://api.lobstr.io/v1/"
        }
    ],
    "paths": {
        "/clusters": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClusterCreated"
                                },
                                "example": {
                                    "id": "65b9eea6e1cc6bb9f0cd2a47751a186f",
                                    "object": "cluster",
                                    "account": "6fbfd5e68d3306e51350bea0232f8fa5",
                                    "concurrency": 2,
                                    "created_at": "2020-11-17T12:30:00",
                                    "crawler": "e9619cf7d9a9a2da1fed1f25d32ca3ae",
                                    "is_active": true,
                                    "name": "my-cool-cluster",
                                    "params": {
                                        "dropcontact": true,
                                        "max_pages": 100
                                    },
                                    "schedule": "3dbbddabf0a47a9c271ddf8c19a8dc09"
                                }
                            }
                        }
                    }
                },
                "summary": "Create Cluster",
                "operationId": "Create Cluster",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "account": "6fbfd5e68d3306e51350bea0232f8fa5",
                                "concurrency": 2,
                                "crawler": "e9619cf7d9a9a2da1fed1f25d32ca3ae",
                                "name": "my-cool-cluster",
                                "params": {
                                    "dropcontact": true,
                                    "max_pages": 100
                                },
                                "schedule": "3dbbddabf0a47a9c271ddf8c19a8dc09"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/ClusterCommonAttribsCreation"
                            }
                        }
                    }
                }
            }
        },
        "/clusters/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cluster"
                                },
                                "example": {
                                    "id": "65b9eea6e1cc6bb9f0cd2a47751a186f",
                                    "object": "cluster",
                                    "account": "6fbfd5e68d3306e51350bea0232f8fa5",
                                    "concurrency": 2,
                                    "created_at": "2020-11-17T12:30:00",
                                    "crawler": "e9619cf7d9a9a2da1fed1f25d32ca3ae",
                                    "is_active": true,
                                    "name": "my-cool-cluster",
                                    "params": {
                                        "dropcontact": true,
                                        "max_pages": 100
                                    },
                                    "schedule": "3dbbddabf0a47a9c271ddf8c19a8dc09",
                                    "total_runs": 123
                                }
                            }
                        }
                    }
                },
                "summary": "Get Cluster",
                "operationId": "Get Cluster",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Cluster"
                                },
                                "example": {
                                    "id": "65b9eea6e1cc6bb9f0cd2a47751a186f",
                                    "object": "cluster",
                                    "account": "6fbfd5e68d3306e51350bea0232f8fa5",
                                    "concurrency": 2,
                                    "created_at": "2020-11-17T12:30:00",
                                    "crawler": "e9619cf7d9a9a2da1fed1f25d32ca3ae",
                                    "is_active": true,
                                    "name": "my-cool-cluster",
                                    "params": {
                                        "dropcontact": true,
                                        "max_pages": 100
                                    },
                                    "schedule": "3dbbddabf0a47a9c271ddf8c19a8dc09",
                                    "total_runs": 123
                                }
                            }
                        }
                    }
                },
                "summary": "Update Cluster",
                "operationId": "Update Cluster",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "account": "6fbfd5e68d3306e51350bea0232f8fa5",
                                "concurrency": 2,
                                "crawler": "e9619cf7d9a9a2da1fed1f25d32ca3ae",
                                "is_active": false,
                                "name": "my-cool-cluster",
                                "params": {
                                    "dropcontact": true,
                                    "max_pages": 100
                                },
                                "schedule": "3dbbddabf0a47a9c271ddf8c19a8dc09"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/ClusterCommonAttribsUpdate"
                            }
                        }
                    }
                }
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ClusterDeleted"
                                },
                                "example": {
                                    "id": "65b9eea6e1cc6bb9f0cd2a47751a186f",
                                    "object": "cluster",
                                    "deleted": true
                                }
                            }
                        }
                    }
                },
                "summary": "Delete Cluster",
                "operationId": "Delete Cluster",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/clusters/:id/empty": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/EmptiedCluster"
                                },
                                "example": {
                                    "id": "ecd72cc09f5405c77b635efb9c757b82",
                                    "object": "cluster",
                                    "emptied": true
                                }
                            }
                        }
                    }
                },
                "summary": "Empty Cluster",
                "operationId": "Empty Cluster",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/clusters?page={page}&limit={limit}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "data": [
                                        {
                                            "id": "65b9eea6e1cc6bb9f0cd2a47751a186f",
                                            "object": "cluster",
                                            "account": "6fbfd5e68d3306e51350bea0232f8fa5",
                                            "concurrency": 2,
                                            "created_at": "2020-11-17T12:30:00",
                                            "crawler": "e9619cf7d9a9a2da1fed1f25d32ca3ae",
                                            "is_active": true,
                                            "name": "my-cool-cluster",
                                            "params": {
                                                "dropcontact": true,
                                                "max_pages": 100
                                            },
                                            "schedule": "3dbbddabf0a47a9c271ddf8c19a8dc09",
                                            "total_runs": 123
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List Clusters",
                "operationId": "List Clusters",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "example": "1",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "description": "",
                        "example": "10",
                        "schema": {
                            "type": "number",
                            "default": 50
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/tasks": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskCreated"
                                },
                                "example": {
                                    "id": "289dff07669d7a23de0ef88d2f7129e7",
                                    "object": "task",
                                    "created_at": "2020-11-17T12:30:00",
                                    "is_active": true,
                                    "params": {
                                        "max_pages": 5,
                                        "results_per_page": 100,
                                        "url": "https://www.linkedin.com/sales/search/people?companySize=I"
                                    },
                                    "status": "pending"
                                }
                            }
                        }
                    }
                },
                "summary": "Create Task",
                "operationId": "Create Task",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cluster": "6fbfd5e68d3306e51350bea0232f8fa5",
                                "tasks": [
                                    {
                                        "max_pages": 5,
                                        "results_per_page": 100,
                                        "url": "https://www.linkedin.com/sales/search/people?companySize=I"
                                    }
                                ]
                            },
                            "schema": {
                                "type": "object",
                                "required": [
                                    "cluster"
                                ],
                                "properties": {
                                    "cluster": {
                                        "type": "string",
                                        "example": "6fbfd5e68d3306e51350bea0232f8fa5"
                                    },
                                    "tasks": {
                                        "type": "array",
                                        "items": {}
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/tasks/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Task"
                                },
                                "example": {
                                    "id": "289dff07669d7a23de0ef88d2f7129e7",
                                    "object": "task",
                                    "created_at": "2020-11-17T12:30:00",
                                    "is_active": true,
                                    "params": {
                                        "max_pages": 5,
                                        "results_per_page": 100,
                                        "url": "https://www.linkedin.com/sales/search/people?companySize=I"
                                    },
                                    "status": "running"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Task",
                "operationId": "Get Task",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskDeleted"
                                },
                                "example": {
                                    "id": "289dff07669d7a23de0ef88d2f7129e7",
                                    "object": "task",
                                    "deleted": true
                                }
                            }
                        }
                    }
                },
                "summary": "Delete Task",
                "operationId": "Delete Task",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/tasks/:id/activate": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskActivated"
                                },
                                "example": {
                                    "id": "289dff07669d7a23de0ef88d2f7129e7",
                                    "object": "task",
                                    "created_at": "2020-11-17T12:30:00",
                                    "is_active": true,
                                    "params": {
                                        "max_pages": 5,
                                        "results_per_page": 100,
                                        "url": "https://www.linkedin.com/sales/search/people?companySize=I"
                                    },
                                    "status": "pending"
                                }
                            }
                        }
                    }
                },
                "summary": "Activate Task",
                "operationId": "Activate Task",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/tasks/:id/deactivate": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/TaskDeactivated"
                                },
                                "example": {
                                    "id": "289dff07669d7a23de0ef88d2f7129e7",
                                    "object": "task",
                                    "created_at": "2020-11-17T12:30:00",
                                    "is_active": false,
                                    "params": {
                                        "max_pages": 5,
                                        "results_per_page": 100,
                                        "url": "https://www.linkedin.com/sales/search/people?companySize=I"
                                    },
                                    "status": "deactivated"
                                }
                            }
                        }
                    }
                },
                "summary": "Deactivate Task",
                "operationId": "Deactivate Task",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/tasks?page={page}&limit={limit}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "data": [
                                        {
                                            "id": "289dff07669d7a23de0ef88d2f7129e7",
                                            "object": "task",
                                            "created_at": "2020-11-17T12:30:00",
                                            "is_active": true,
                                            "params": {
                                                "max_pages": 5,
                                                "results_per_page": 100,
                                                "url": "https://www.linkedin.com/sales/search/people?companySize=I"
                                            },
                                            "status": "running"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List Tasks",
                "operationId": "List Tasks",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cluster": "'65b9eea6e1cc6bb9f0cd2a47751a186f'"
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cluster": {
                                        "type": "string",
                                        "example": "'65b9eea6e1cc6bb9f0cd2a47751a186f'"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runs": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunCreated"
                                },
                                "example": {
                                    "id": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "object": "run",
                                    "created_at": "2020-11-15T11:33:00",
                                    "download_link": "null",
                                    "ended_at": "null",
                                    "origin": "user",
                                    "started_at": "null",
                                    "status": "running"
                                }
                            }
                        }
                    }
                },
                "summary": "Launch Run",
                "operationId": "Launch Run",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cluster": "'65b9eea6e1cc6bb9f0cd2a47751a186f'"
                            },
                            "schema": {
                                "type": "object",
                                "required": [
                                    "cluster"
                                ],
                                "properties": {
                                    "cluster": {
                                        "type": "string",
                                        "example": "'65b9eea6e1cc6bb9f0cd2a47751a186f'"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runs/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Run"
                                },
                                "example": {
                                    "id": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "object": "run",
                                    "created_at": "2020-11-15T11:33:00",
                                    "download_link": "null",
                                    "ended_at": "2020-11-18T13:30:00",
                                    "origin": "schedule",
                                    "started_at": "2020-11-18T12:30:00",
                                    "status": "done"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Run",
                "operationId": "Get Run",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunDeleted"
                                },
                                "example": {
                                    "id": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "object": "run",
                                    "deleted": true
                                }
                            }
                        }
                    }
                },
                "summary": "Delete Run",
                "operationId": "Delete Run",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/runs/:id/stats": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunStats"
                                },
                                "example": {
                                    "id": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "object": "run",
                                    "duration": "null",
                                    "ended_at": "null",
                                    "eta": "00:29:11",
                                    "is_done": false,
                                    "percent_done": "3.70%",
                                    "started_at": "2021-05-05T08:56:35",
                                    "total_requests": 768,
                                    "total_results": 30857,
                                    "total_tasks": 78,
                                    "total_tasks_done": 76,
                                    "total_tasks_left": 2,
                                    "updated_at": "2021-05-05T08:56:35"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Run Stats",
                "operationId": "Get Run Stats",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/runs/:id/abort": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunAborted"
                                },
                                "example": {
                                    "id": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "created_at": "2020-11-18T11:30:00",
                                    "duration": "1 day, 4:14:56",
                                    "object": "run",
                                    "ended_at": "null",
                                    "origin": "schedule",
                                    "started_at": "2020-11-18T12:30:00",
                                    "status": "done",
                                    "status_reason": "aborted"
                                }
                            }
                        }
                    }
                },
                "summary": "Abort Run",
                "operationId": "Abort Run",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/runs/:id/download": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunDownloaded"
                                },
                                "example": {
                                    "id": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "object": "run",
                                    "download_link": "https://s3.eu-west-1.amazonaws.com/api.lobstr.io/lobstr9e0b62e6d277c90aa7d346de35b5f61d/1b0ffe2b7c3202633fbd23fe6bbe8dc1.xlsx",
                                    "ended_at": "2020-11-18T13:30:00",
                                    "origin": "user",
                                    "started_at": "2020-11-18T12:30:00",
                                    "status": "success"
                                }
                            }
                        }
                    }
                },
                "summary": "Download Run",
                "operationId": "Download Run",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/runs?page={page}&limit={limit}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "data": [
                                        {
                                            "id": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                            "object": "run",
                                            "created_at": "2020-11-15T11:33:00",
                                            "download_link": "null",
                                            "ended_at": "2020-11-18T13:30:00",
                                            "origin": "schedule",
                                            "started_at": "2020-11-18T12:30:00",
                                            "status": "done"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List Runs",
                "operationId": "List Runs",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "example": "1",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "description": "",
                        "example": "10",
                        "schema": {
                            "type": "number",
                            "default": 50
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cluster": "'65b9eea6e1cc6bb9f0cd2a47751a186f'"
                            },
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "cluster": {
                                        "type": "string",
                                        "example": "'65b9eea6e1cc6bb9f0cd2a47751a186f'"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runtasks?page={page}&limit={limit}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "data": [
                                        {
                                            "id": "05a671c66aefea124cc08b76ea6d30bb",
                                            "object": "runtask",
                                            "created_at": "2020-11-15T11:33:00",
                                            "duration": 63,
                                            "ended_at": "2020-11-15T11:34:03",
                                            "is_done": false,
                                            "is_error": "False",
                                            "last_page": 1,
                                            "last_result": 25,
                                            "task": "289dff07669d7a23de0ef88d2f7129e7",
                                            "run": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                            "started_at": "2020-11-15T11:32:00",
                                            "total_pages": 1,
                                            "total_results": 25
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List RunTasks",
                "operationId": "List RunTasks",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "example": "1",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "description": "",
                        "example": "10",
                        "schema": {
                            "type": "number",
                            "default": 50
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "run": {
                                        "type": "string",
                                        "example": "'d2ddea18f00665ce8623e36bd4e3c7c5'"
                                    },
                                    "task": {
                                        "type": "string",
                                        "example": "'289dff07669d7a23de0ef88d2f7129e7'"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/runtasks/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/RunTask"
                                },
                                "example": {
                                    "id": "05a671c66aefea124cc08b76ea6d30bb",
                                    "object": "runtask",
                                    "created_at": "2020-11-15T11:33:00",
                                    "duration": 63,
                                    "ended_at": "2020-11-15T11:34:03",
                                    "is_done": false,
                                    "is_error": "False",
                                    "last_page": 1,
                                    "last_result": 25,
                                    "task": "289dff07669d7a23de0ef88d2f7129e7",
                                    "run": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "started_at": "2020-11-15T11:32:00",
                                    "total_pages": 1,
                                    "total_results": 25
                                }
                            }
                        }
                    }
                },
                "summary": "Get RunTask",
                "operationId": "Get RunTask",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/results": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "data": [
                                        {
                                            "id": "098f6bcd4621d373cade4e832627b4f6",
                                            "object": "result",
                                            "task": "289dff07669d7a23de0ef88d2f7129e7",
                                            "run": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                            "first_name": "Sasha",
                                            "last_name": "Bouloudnine",
                                            "company_name": "lobstr",
                                            "location": "Paris Area, France",
                                            "position": "Co-founder",
                                            "industry": "Internet",
                                            "connections": 577,
                                            "url": "https://www.linkedin.com/in/sasha-bouloudnine-51908286/",
                                            "picture": "https://media-exp1.licdn.com/dms/image/C4E03AQHWe6qT_peEWg"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List Results",
                "operationId": "List Results",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "query",
                        "description": "",
                        "required": true,
                        "example": "1",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "query",
                        "description": "",
                        "example": "10",
                        "schema": {
                            "type": "number",
                            "default": 50
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cluster": "'65b9eea6e1cc6bb9f0cd2a47751a186f'",
                                "run": "'d2ddea18f00665ce8623e36bd4e3c7c5'",
                                "task": "'2e3c3b47a66fe2faa20c78a3a130b9e3'"
                            },
                            "schema": {
                                "type": "object",
                                "required": [
                                    "cluster"
                                ],
                                "properties": {
                                    "cluster": {
                                        "type": "string",
                                        "example": "'65b9eea6e1cc6bb9f0cd2a47751a186f'"
                                    },
                                    "run": {
                                        "type": "string",
                                        "example": "'d2ddea18f00665ce8623e36bd4e3c7c5'"
                                    },
                                    "task": {
                                        "type": "string",
                                        "example": "'2e3c3b47a66fe2faa20c78a3a130b9e3'"
                                    }
                                }
                            }
                        }
                    }
                }
            }
        },
        "/results/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Result"
                                },
                                "example": {
                                    "id": "098f6bcd4621d373cade4e832627b4f6",
                                    "object": "result",
                                    "task": "289dff07669d7a23de0ef88d2f7129e7",
                                    "run": "d2ddea18f00665ce8623e36bd4e3c7c5",
                                    "first_name": "Sasha",
                                    "last_name": "Bouloudnine",
                                    "company_name": "lobstr",
                                    "location": "Paris Area, France",
                                    "position": "Co-founder",
                                    "industry": "Internet",
                                    "connections": 577,
                                    "url": "https://www.linkedin.com/in/sasha-bouloudnine-51908286/",
                                    "picture": "https://media-exp1.licdn.com/dms/image/C4E03AQHWe6qT_peEWg"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Result",
                "operationId": "Get Result",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/schedules": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScheduleCreated"
                                },
                                "example": {
                                    "id": "c81e728d9d4c2f636f067f89cc14862c",
                                    "object": "schedule",
                                    "created_at": "2020-11-15T11:33:00",
                                    "cron_expression": "@daily",
                                    "description": "cooool one :o",
                                    "name": "my-cool-schedule"
                                }
                            }
                        }
                    }
                },
                "summary": "Create Schedule",
                "operationId": "Create Schedule",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cron_expression": "@daily",
                                "description": "cooool one :o",
                                "name": "my-cool-schedule"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/ScheduleCommonParams"
                            }
                        }
                    }
                }
            }
        },
        "/schedules/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Schedule"
                                },
                                "example": {
                                    "id": "c81e728d9d4c2f636f067f89cc14862c",
                                    "object": "schedule",
                                    "created_at": "2020-11-15T11:33:00",
                                    "cron_expression": "@daily",
                                    "description": "cooool one :o",
                                    "last_run_at": "2020-11-16T12:30:00",
                                    "name": "my-cool-schedule",
                                    "next_run_at": "2020-11-18T12:30:00"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Schedule",
                "operationId": "Get Schedule",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Schedule"
                                },
                                "example": {
                                    "id": "c81e728d9d4c2f636f067f89cc14862c",
                                    "object": "schedule",
                                    "created_at": "2020-11-15T11:33:00",
                                    "cron_expression": "@daily",
                                    "description": "cooool one :o",
                                    "last_run_at": "2020-11-16T12:30:00",
                                    "name": "my-cool-schedule",
                                    "next_run_at": "2020-11-18T12:30:00"
                                }
                            }
                        }
                    }
                },
                "summary": "Update Schedule",
                "operationId": "Update Schedule",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "cron_expression": "@daily",
                                "description": "cooool one :o",
                                "name": "my-cool-schedule"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/ScheduleCommonParams"
                            }
                        }
                    }
                }
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/ScheduleDeleted"
                                },
                                "example": {
                                    "id": "c81e728d9d4c2f636f067f89cc14862c",
                                    "object": "schedule",
                                    "deleted": true
                                }
                            }
                        }
                    }
                },
                "summary": "Delete Schedule",
                "operationId": "Delete Schedule",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/schedules?page={page}&limit={limit}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "runs": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "runs": [
                                        {
                                            "id": "c81e728d9d4c2f636f067f89cc14862c",
                                            "object": "schedule",
                                            "created_at": "2020-11-15T11:33:00",
                                            "cron_expression": "@daily",
                                            "description": "cooool one :o",
                                            "last_run_at": "2020-11-16T12:30:00",
                                            "name": "my-cool-schedule",
                                            "next_run_at": "2020-11-18T12:30:00"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List Schedules",
                "operationId": "List Schedules",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "example": "1",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "description": "",
                        "example": "10",
                        "schema": {
                            "type": "number",
                            "default": 50
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/crawlers/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Crawler"
                                },
                                "example": {
                                    "id": "f0935e4cd5920aa6c7c996a5ee53a70f",
                                    "object": "crawler",
                                    "created_at": "2020-11-17T12:30:00",
                                    "description": "Linkedin Sales Nav Profiles Export d:-o",
                                    "is_public": true,
                                    "labels": [
                                        "sales-navigator"
                                    ],
                                    "max_concurrency": 100,
                                    "name": "Sales Navigator Profiles Export",
                                    "rank": 1,
                                    "slug": "linkedin-sales-nav-iter-profiles",
                                    "updated_at": "2020-11-17T12:30:00"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Crawler",
                "operationId": "Get Crawler",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/crawlers/:id/params": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/CrawlerParams"
                                },
                                "example": {
                                    "cluster": {
                                        "account": {
                                            "email": {
                                                "description": "email of the account",
                                                "type": "string",
                                                "required": true
                                            },
                                            "password": {
                                                "description": "password of the account",
                                                "type": "string",
                                                "required": true
                                            },
                                            "type": "linkedin-sales-navigator"
                                        },
                                        "dropcontact": {
                                            "description": "if true, will enrich profile with dropcontact data e.g. mail, phone, siret",
                                            "type": "boolean",
                                            "required": false
                                        }
                                    },
                                    "task": {
                                        "max_pages": {
                                            "description": "max. pages the crawler will reach",
                                            "type": "int",
                                            "required": false
                                        },
                                        "results_per_page": {
                                            "description": "total results collected per page",
                                            "type": "int",
                                            "required": false
                                        },
                                        "url": {
                                            "description": "starting linkedin search URL",
                                            "type": "string",
                                            "required": true
                                        }
                                    }
                                }
                            }
                        }
                    }
                },
                "summary": "Get Crawler Params",
                "operationId": "Get Crawler Params",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/crawlers?page={page}&limit={limit}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "data": [
                                        {
                                            "id": "f0935e4cd5920aa6c7c996a5ee53a70f",
                                            "object": "crawler",
                                            "created_at": "2020-11-17T12:30:00",
                                            "description": "Linkedin Sales Nav Profiles Export d:-o",
                                            "is_public": true,
                                            "labels": [
                                                "sales-navigator"
                                            ],
                                            "max_concurrency": 100,
                                            "name": "Sales Navigator Profiles Export",
                                            "rank": 1,
                                            "slug": "linkedin-sales-nav-iter-profiles",
                                            "updated_at": "2020-11-17T12:30:00"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List Crawlers",
                "operationId": "List Crawlers",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "example": "1",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "description": "",
                        "example": "10",
                        "schema": {
                            "type": "number",
                            "default": 50
                        }
                    },
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/accounts": {
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountCreated"
                                },
                                "example": {
                                    "id": "19bb1c73b0d628003dcd888f0820ece0",
                                    "object": "account",
                                    "created_at": "2020-11-15T11:33:00",
                                    "last_synchronization_time": "null",
                                    "name": "my-cool-account",
                                    "status": 100,
                                    "status_code_info": "pending",
                                    "status_code_description": "your account needs to be synchronized",
                                    "total_synchronizations": 0,
                                    "type": "linkedin-sales-navigator",
                                    "updated_at": "null"
                                }
                            }
                        }
                    }
                },
                "summary": "Create Account",
                "operationId": "Create Account",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "type": "linkedin-sales-navigator",
                                "name": "my-cool-account",
                                "username": "sasha.bouloudnine@lobstr.io",
                                "password": "no-privacy-no-mercy"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/AccountCommonParams"
                            }
                        }
                    }
                }
            }
        },
        "/accounts/:id": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/Account"
                                },
                                "example": {
                                    "id": "19bb1c73b0d628003dcd888f0820ece0",
                                    "object": "account",
                                    "created_at": "2020-11-15T11:33:00",
                                    "last_synchronization_time": "2020-11-18T12:30:00",
                                    "name": "my-cool-account",
                                    "status": 200,
                                    "status_code_info": "success",
                                    "status_code_description": "your account has been properly synchronized",
                                    "total_synchronizations": 19,
                                    "type": "linkedin-sales-navigator",
                                    "updated_at": "2020-11-15T12:33:00"
                                }
                            }
                        }
                    }
                },
                "summary": "Get Account",
                "operationId": "Get Account",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            },
            "post": {
                "responses": {
                    "201": {
                        "description": "Created",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountUpdated"
                                },
                                "example": {
                                    "id": "19bb1c73b0d628003dcd888f0820ece0",
                                    "object": "account",
                                    "created_at": "2020-11-15T11:33:00",
                                    "last_synchronization_time": "null",
                                    "name": "my-cool-account",
                                    "status": 100,
                                    "status_code_info": "pending",
                                    "status_code_description": "your account needs to be synchronized",
                                    "type": "linkedin-sales-navigator",
                                    "total_synchronizations": 0,
                                    "updated_at": "2020-11-15T12:33:00"
                                }
                            }
                        }
                    }
                },
                "summary": "Update Account",
                "operationId": "Update Account",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "example": {
                                "name": "my-cool-account",
                                "username": "sasha.bouloudnine@lobstr.io",
                                "password": "no-privacy-no-mercy"
                            },
                            "schema": {
                                "$ref": "#/components/schemas/UpdateAccountCommonParams"
                            }
                        }
                    }
                }
            },
            "delete": {
                "responses": {
                    "204": {
                        "description": "No Content",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountDeleted"
                                },
                                "example": {
                                    "id": "19bb1c73b0d628003dcd888f0820ece0",
                                    "object": "account",
                                    "deleted": true
                                }
                            }
                        }
                    }
                },
                "summary": "Delete Account",
                "operationId": "Delete Account",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/accounts/:id/refresh": {
            "post": {
                "responses": {
                    "202": {
                        "description": "Accepted",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/AccountRefreshed"
                                },
                                "example": {
                                    "id": "19bb1c73b0d628003dcd888f0820ece0",
                                    "object": "account",
                                    "created_at": "2020-11-15T11:33:00",
                                    "last_synchronization_time": "2020-11-15T13:33:00",
                                    "name": "my-cool-account",
                                    "status": 300,
                                    "status_code_info": "synchronizing",
                                    "status_code_description": "your account is currently being synchronized",
                                    "total_synchronizations": 1,
                                    "type": "linkedin-sales-navigator",
                                    "updated_at": "2020-11-15T12:33:00"
                                }
                            }
                        }
                    }
                },
                "summary": "Refresh Account",
                "operationId": "Refresh Account",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "Authorization",
                        "in": "header",
                        "description": "e.g. Token SECRET_TOKEN",
                        "required": false,
                        "schema": {
                            "type": "string"
                        },
                        "example": "Token SECRET_TOKEN"
                    }
                ]
            }
        },
        "/accounts?page={page}&limit={limit}": {
            "get": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "headers": {},
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "required": [
                                        "page",
                                        "limit"
                                    ],
                                    "properties": {
                                        "count": {
                                            "type": "number",
                                            "example": 1
                                        },
                                        "page": {
                                            "type": "number",
                                            "example": 1,
                                            "description": "page number"
                                        },
                                        "limit": {
                                            "type": "number",
                                            "example": 10,
                                            "description": "number of items returned max"
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {}
                                        }
                                    }
                                },
                                "example": {
                                    "count": 1,
                                    "page": 1,
                                    "limit": 10,
                                    "data": [
                                        {
                                            "id": "19bb1c73b0d628003dcd888f0820ece0",
                                            "object": "account",
                                            "created_at": "2020-11-15T11:33:00",
                                            "last_synchronization_time": "2020-11-18T12:30:00",
                                            "name": "my-cool-account",
                                            "status": 200,
                                            "status_code_info": "success",
                                            "status_code_description": "your account has been properly synchronized",
                                            "total_synchronizations": 19,
                                            "type": "linkedin-sales-navigator",
                                            "updated_at": "2020-11-15T12:33:00"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                },
                "summary": "List Accounts",
                "operationId": "List Accounts",
                "description": "",
                "tags": [],
                "parameters": [
                    {
                        "name": "page",
                        "in": "path",
                        "description": "",
                        "required": true,
                        "example": "1",
                        "schema": {
                            "type": "number"
                        }
                    },
                    {
                        "name": "limit",
                        "in": "path",
                        "description": "",
                        "example": "10",
                        "schema": {
                            "type": "number",
[...]
