openapi: 3.0.0
info:
  contact: {}
  title: Lobstr
  version: "1.0"
servers:
- url: https://api.lobstr.io/v1
security:
- apiKey: []
tags:
- description: ""
  name: Misc
paths:
  /clusters/{clusterId}:
    get:
      deprecated: false
      operationId: GetCluster
      parameters:
      - description: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/json
          example: application/json
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: GetCluster
      tags:
      - Misc
    post:
      deprecated: false
      operationId: UpdateCluster
      parameters:
      - description: ""
        explode: false
        in: path
        name: clusterId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              name: Leboncoin Listings Search Export
              concurrency: 1
              export_unique_results: true
              no_line_breaks: true
              to_complete: false
              params:
                max_date: null
                max_results: 25
                max_pages: 1
                hours_back: null
                online_shop: false
              accounts: null
              run_notify: on_error
            schema:
              $ref: '#/components/schemas/UpdateCluster_request'
        description: ""
        required: true
      responses:
        "200":
          description: ""
      summary: UpdateCluster
      tags:
      - Misc
  /clusters:
    get:
      deprecated: false
      operationId: ListCluster
      parameters:
      - description: ""
        explode: true
        in: query
        name: id
        required: true
        schema:
          example: "{{clusterId}}"
          type: string
        style: form
      - description: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/json
          example: application/json
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: ListCluster
      tags:
      - Misc
  /tasks:
    post:
      deprecated: false
      operationId: CreateTask
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              cluster: "{{clusterId}}"
              tasks:
              - url: https://www.leboncoin.fr/ventes_immobilieres/offres/auvergne_rhone_alpes/ain
            schema:
              $ref: '#/components/schemas/CreateTask_request'
        description: ""
        required: true
      responses:
        "200":
          description: ""
      summary: CreateTask
      tags:
      - Misc
  /runs:
    get:
      deprecated: false
      operationId: ListRun
      parameters:
      - description: ""
        explode: true
        in: query
        name: page
        required: true
        schema:
          example: 1
          format: int32
          type: integer
        style: form
      - description: ""
        explode: true
        in: query
        name: limit
        required: true
        schema:
          example: 10
          format: int32
          type: integer
        style: form
      - description: ""
        explode: false
        in: header
        name: Authorization
        required: true
        schema:
          example: Token 85740612a05ece90fb7bbbf7b507947ffd530cf8
          type: string
        style: simple
      - description: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/json
          example: application/json
          type: string
        style: simple
      responses:
        "200":
          description: ""
      security: []
      summary: ListRun
      tags:
      - Misc
    post:
      deprecated: false
      operationId: RunCluster
      parameters: []
      requestBody:
        content:
          application/json:
            example:
              cluster: "{{clusterId}}"
            schema:
              $ref: '#/components/schemas/RunCluster_request'
        description: ""
        required: true
      responses:
        "200":
          description: ""
      summary: RunCluster
      tags:
      - Misc
  /runs/{runId}:
    get:
      deprecated: false
      operationId: ViewRun
      parameters:
      - description: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/json
          example: application/json
          type: string
        style: simple
      - description: ""
        explode: false
        in: path
        name: runId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: ViewRun
      tags:
      - Misc
  /results:
    get:
      deprecated: false
      operationId: ListResult
      parameters:
      - description: ""
        explode: true
        in: query
        name: run
        required: true
        schema:
          example: "{{runId}}"
          type: string
        style: form
      - description: ""
        explode: true
        in: query
        name: cluster
        required: true
        schema:
          example: "{{clusterId}}"
          type: string
        style: form
      - description: ""
        explode: false
        in: header
        name: Content-Type
        required: true
        schema:
          enum:
          - application/json
          example: application/json
          type: string
        style: simple
      responses:
        "200":
          description: ""
      summary: ListResult
      tags:
      - Misc
components:
  schemas:
    CreateTaskRequest:
      example:
        cluster: "{{clusterId}}"
        tasks:
        - url: https://www.leboncoin.fr/ventes_immobilieres/offres/auvergne_rhone_alpes/ain
      properties:
        cluster:
          type: string
        tasks:
          description: ""
          items:
            $ref: '#/components/schemas/Task'
          type: array
      required:
      - cluster
      - tasks
      title: CreateTaskRequest
      type: object
    Task:
      example:
        url: https://www.leboncoin.fr/ventes_immobilieres/offres/auvergne_rhone_alpes/ain
      properties:
        url:
          type: string
      required:
      - url
      title: Task
      type: object
    UpdateClusterRequest:
      example:
        name: Leboncoin Listings Search Export
        concurrency: 1
        export_unique_results: true
        no_line_breaks: true
        to_complete: false
        params:
          max_date: null
          max_results: 25
          max_pages: 1
          hours_back: null
          online_shop: false
        accounts: null
        run_notify: on_error
      properties:
        name:
          type: string
        concurrency:
          format: int32
          type: integer
        export_unique_results:
          type: boolean
        no_line_breaks:
          type: boolean
        to_complete:
          type: boolean
        params:
          $ref: '#/components/schemas/UpdateClusterRequest_params'
        accounts:
          nullable: true
          type: string
        run_notify:
          type: string
      required:
      - accounts
      - concurrency
      - export_unique_results
      - name
      - no_line_breaks
      - params
      - run_notify
      - to_complete
      title: UpdateClusterRequest
      type: object
    Params:
      example:
        max_date: null
        max_results: 25
        max_pages: 1
        hours_back: null
        online_shop: false
      properties:
        max_date:
          nullable: true
          type: string
        max_results:
          format: int32
          type: integer
        max_pages:
          format: int32
          type: integer
        hours_back:
          nullable: true
          type: string
        online_shop:
          type: boolean
      required:
      - hours_back
      - max_date
      - max_pages
      - max_results
      - online_shop
      title: Params
      type: object
    RunClusterRequest:
      example:
        cluster: "{{clusterId}}"
      properties:
        cluster:
          type: string
      required:
      - cluster
      title: RunClusterRequest
      type: object
    UpdateCluster_request:
      allOf:
      - $ref: '#/components/schemas/UpdateClusterRequest'
      - example:
          name: Leboncoin Listings Search Export
          concurrency: 1
          export_unique_results: true
          no_line_breaks: true
          to_complete: false
          params:
            max_date: null
            max_results: 25
            max_pages: 1
            hours_back: null
            online_shop: false
          accounts: null
          run_notify: on_error
    CreateTask_request:
      allOf:
      - $ref: '#/components/schemas/CreateTaskRequest'
      - example:
          cluster: "{{clusterId}}"
          tasks:
          - url: https://www.leboncoin.fr/ventes_immobilieres/offres/auvergne_rhone_alpes/ain
    RunCluster_request:
      allOf:
      - $ref: '#/components/schemas/RunClusterRequest'
      - example:
          cluster: "{{clusterId}}"
    UpdateClusterRequest_params:
      allOf:
      - $ref: '#/components/schemas/Params'
      - {}
  securitySchemes:
    apiKey:
      in: header
      name: Authorization
      type: apiKey
